{
  "AppFunction": {
    "DYNAMODB_ENDPOINT_URL": "http://localhost:8000",
    "SMTP_SERVER": "localhost",
    "SMTP_PORT": "25",
    "SMTP_SECURE": "false",
    "SMTP_USER": "test",
    "SMTP_PASS": "test",
    "MAIL_FROM_ADDRESS": "sample-app<no-reply@sample.com>"
  }
}
